@charset "utf-8";

:root {
  --primary: hsl(102, 54%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE STRUCTURE */

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 3.2rem;
}

article {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

section {
  display: flex;
  gap: 1.8rem;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

img {
  width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

code {
  font-family: monospace;
}

/* CARDS */

.card {
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.6rem;
  border: 0.5rem solid var(--primary);
  border-radius: 10%;
}
