<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta name="robots"
        content="noindex, nofollow">
  <title>Tobis persönliche Website-Favoriten</title>
  <link rel="stylesheet"
        href="style.css">
  <link rel="shortcut icon"
        href="favicon.ico"
        type="image/x-icon">
</head>
<body>
  [%content%]
  <p>brave://settings/content/autoplay</p>
</body>
</html>