<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta name="robots"
        content="noindex, nofollow">
  <title>Tobis persönliche Website-Favoriten</title>
  <link rel="stylesheet"
        href="style.css">
  <link rel="shortcut icon"
        href="favicon.ico"
        type="image/x-icon">
</head>
<body>
  <h2>Most used</h2>
  <section>
    [%favorites%]
  </section>
  <h2>Info</h2>
  <section>
    <div class="card"><a href="https://www.google.de/"
         target="_blank"
         rel="noopener noreferrer">Google</a></div>
    <div class="card"><a href="https://www.google.de/maps"
         target="_blank"
         rel="noopener noreferrer">Google Maps</a></div>
  </section>
  <h2>Finanzen</h2>
  <section></section>
  <h2>Social</h2>
  <section></section>
  <h2>Shopping</h2>
  <section></section>
  <h2>Projekte</h2>
  <section></section>
  <h2>Webentwicklung</h2>
  <section></section>
</body>
</html>